@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
}

.footer_right * .MuiSlider-root{
  color: green;
}

.content::-webkit-scrollbar{
  display: none;
}

.hidebar::-webkit-scrollbar{
  display: none;
}

.hidebar{
  overflow-x: scroll;
}

.body_icons > .MuiSvgIcon-root{
  margin-right: 20px;
}

.body_shuffle{
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: green;
}

.body_shuffle:hover{
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.play_icon{
  font-size: 60px !important;
}
